@model IEnumerable<Artical_Task.Models.Article>

@{
    ViewBag.Title = "GetArts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Articles</h2>
<div id="myBtnContainer" style="margin-bottom:20px;">
    <label>Select Categories To Filter : </label>
    <button class="btn" onclick="filterSelection('all')"> Show all</button>
    @foreach (var category in ViewBag.categories)
    {
        <button class="btn" onclick="filterSelection('@category.name')">@category.name</button>
    }
</div>

<div class="container">
    @foreach (var x in Model)
    {
        <div class="art" name="@x.cate_name" style="width:60%;margin-bottom:20px;padding-bottom:20px;">
            <div class="create_art">
                <a href="/Admin/EditArt/@x.id" style="float:left;margin-left:10px;"><i class='far fa-edit' style='font-size:24px'></i></a>
                <a href="/Admin/DeleteArt/@x.id" style="float:left;margin-left:10px;" onclick="return confirm('Are you sure you want to delete this article ?')"><i class="fa fa-trash" style='font-size:24px'></i></a>
                <label style="font-size:20px;font-weight:bold;margin-right:40px;">@x.subject (@x.cate_name)</label>
            </div>
            <div class="art_text">
                <p style="float:left;margin-left:20px;color:#e1e2e4;font-size:15px;font-weight:lighter;">@x.dateTime</p>
                <p style="float:left;margin-left:20px;font-size:17px;">@x.text</p>
            </div>

            <div class="gallery" style="padding-bottom:20px;">
                @for (int i = 0; i < x.pathes.Count; i++)
                {
                    <a href="~/Uploads/@x.pathes[i]">
                        <img id="@x.pathes[i]" src="~/Uploads/@x.pathes[i]" style="width:200px;height:200px" />
                    </a>
                }

            </div>

            <hr />
            <a onclick="slide_down(@x.id)"><i class="fa fa-angle-double-down" style="font-size:30px;"></i></a>
            <a onclick="slide_up(@x.id)"><i class="fa fa-angle-double-up" style="font-size:30px;"></i></a>
            <div id="comm+@x.id" style="display:none;">
                @foreach (var c in x.art_comments)
                {
                    <div style="background-color:#f2f3f5;border-radius:10px;padding-left:10px;text-align:left;margin:5px">
                        <p style="color:#516da5;font-size:18px;font-weight:bold">@c.User.username</p>
                        <p style="color:#e1e2e4;font-size:15px;font-weight:lighter;">@c.dateTime</p>
                        <p style="color:black;font-size:16px;padding-bottom:2px;">@c.text</p>
                    </div>
                }
            </div>

        </div>

    }
</div>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script>

    function slide_down(id) {
        var elem = document.getElementById("comm+" + id);
        elem.style.display = 'block';
    }

    function slide_up(id) {
        var elem = document.getElementById("comm+" + id);
        elem.style.display = 'none';
    }

    function filterSelection(category) {
        var elem = document.getElementsByName(category);
        if (category == "all") {
            $(".art").show();
        }
        else {
            $(".art").hide();
            var i;
            for (i = 0; i < elem.length; i++) {
                elem[i].style.display = 'block';
            }
            
        }

    }

</script>